 html, body, .vector-header-container, .vector-feature-zebra-design-disabled, .mw-page-container, .vector-feature-zebra-design-disabled body, .vector-feature-zebra-design-disabled .mw-page-container, .vector-feature-zebra-design-disabled .vector-header-container, .mw-body, .parsoid-body, #mw-page-base {
     background : transparent;
 }
html, body {
    left : 3px !important;
}
 .central-featured-lang, .other-project-link, .footer-sidebar-content, .footer-sidebar-text, .app-badges .footer-sidebar-content, .vector-feature-zebra-design-disabled .vector-toc { border-radius : 8px; background : rgba(255,255,255,0.5);}
.central-featured-lang :hover {background-color:transparent;}
.central-featured-lang:hover, .other-project-link:hover {background-color:rgba(0,0,100,0.5);}
 .mw-parser-output #mp-topbanner {
     background : rgba(200,200,255,0.555);
 }

.mw-parser-output #mp-right, .infobox td, .infobox th {
    background : rgba(100,100,255,0.4);
}
.infobox td, .infobox th, .mw-parser-output p {
    border-radius : 5px;
    padding : 5px;
}
.mw-parser-output p, .mw-parser-output li {
    width : calc(100% - 550px);
    background : none;
}
.mw-parser-output li {
    width : fit-content;
}

.mw-parser-output p {
    background : rgba(100,255,100,0.4) !important;
}

.infobox, .vector-pinned-container, .vector-body-before-content, .vector-page-toolbar-container, .vector-toc, .hatnote {
    background : transparent;
    position : relative;
    color : white !important;
}
.infobox::before, .vector-pinned-container::before, .vector-body-before-content::before, .vector-page-toolbar-container::before, .hatnote::before, .mw-parser-output p::before:not(.jsl10n), .mw-parser-output > ul > li::before {
    content : '';
    background : rgba(255,255,255,0.5);
    border-radius : 10px;
    top : 0px;
    left : 0px;
    width : 100%;
    height: 100%;
    display : block;
    position:absolute;
    z-index : -1;
}

.mw-parser-output a {
    text-shadow : 2px 2px 3px rgba(0,0,0,0.555);
    padding : 0px !important;
}
.mw-parser-output > ul, .mw-parser-output > ul > li {
    display : block;
    position: relative;
}
.mw-parser-output > ul > li {
    display : list-item;
    list-style : inside;
    list-style-type: disc;
    list-style-image : url(https://en.wikipedia.org/w/skins/Vector/resources/common/images/bullet-icon.svg?d4515);
}
.mw-parser-output > ul > li {
    padding : 5px;
    margin : 5px;
}
.mw-body h1, .mw-body-content h1, .mw-body-content h2, .mw-body-content h3, .mw-body-content h4 {
    background : rgba(0,0,50,0.5);
    box-shadow : 2px 2px 4px 1px rgba(0,0,0,0.8);
    color : white;
    padding : 7px !important;
    margin : 7px !important;
    border-radius : 10px;
}
.mw-heading1, h1, .mw-heading2, h2 {
    border-bottom : none !important;
}
input {
    color : fieldtext;
}
.mw-parser-output li, ul > li {
    background : rgba(255,255,255,0.5);
    border-radius : 10px;
    padding : 5px;
    margin : 5px;
}
.references > li > span {
    border : 0px solid black;
    box-shadow : none;
}
.mw-parser-output p {
    color : black;
    opacity : 1;
    z-index : 2;
    display : block;
    position: relative;
}
.mw-parser-output li > div {
    background : rgba(0,0,50,0.5);
    border-radius : 8px;
    margin : 8px;
    color : lightgreen;
}
.mw-parser-output .mp-box {
    border : none;
}
.mw-parser-output {
    color : black;
}

#mp-topbanner, #mp-left, #mp-right, #mp-middle, #mp-lower {
    margin : 10px !important;
    padding : 10px !important;
}
