.naIPlog_entry {
    border-radius : 10px;
    margin : 10px;
    padding : 20px;
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
    width : fit-content;
    float : left;
}
.naIPlog_header {
    padding : 20px;

}
.vividPreview {
    z-index:-1;
}

.vividClickShield {
    z-index:-1;
}

.vividPreview.shown {
    z-index:9999999998765;
}

.vividClickShield.shown {
    z-index:99999999998765;
}

.naIPlog_stacktrace {
    display : none;
    color : white !important;
    margin : 20px;
    padding : 15px;
    border-radius : 10px;
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
}
.naIPlog_stateChange {
    margin : 20px;
    padding : 15px;
    border-radius : 10px;
    background : rgba(0,0,55,0.250);
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
    color : lime;
}
.naIPlog_externalLink, .naIPlog_referrer {
    margin : 20px;
    padding : 5px;
    border-radius : 10px;
    background : rgba(255,0,0,0.250);
    color:gold !important;
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
}
.naIPlog_address {
    margin : 20px;
    padding : 5px;
    border-radius : 10px;
    background : rgba(0,0,55,0.250);
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
}

.naStatus_fullyBooted {
    background : rgba(50,0,50,0.555);
    color : white;
}
.naStatus_fullyBooted .naIPlog_stacktrace {
    background : rgba(0,0,0,0.555);
    color : #0FF !important;
    text-shadow : 0px 0px 2px rgba(255,255,255,0.8);
}

.naStatus_backgroundChange {
    background : rgba(0,100,0,0.555);
    color : white;
}
.naStatus_backgroundChange .naIPlog_stacktrace {
    background : rgba(0,0,0,0.555);
    color : #0FF !important;
    text-shadow : 0px 0px 2px rgba(255,255,255,0.8);
}
