.naIPlog_entry {
    border : 1px solid silver;
    border-radius : 10px;
    margin : 20px;
    padding : 10px;
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
    width : fit-content;
}
.naIPlog_header {
    padding : 20px;
    padding-left : 0px;
    line-height:2em;

}
.vividPreview {
    z-index:-1;
}

.vividClickShield {
    z-index:-1;
}

.vividPreview.shown {
    z-index:9999999998765;
}

.vividClickShield.shown {
    z-index:99999999998765;
}
.naIPlog_backgroundSetTo {
    cursor : hand;
}
.naIPlog_stacktrace {
    display : none;
    color : white !important;
    margin : 10px;
    padding : 15px;
    border-radius : 10px;
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
}
.naIPlog_stateChange {
    margin : 10px;
    margin-left : 50px;
    padding : 15px;
    border-radius : 10px;
    background : rgba(0,0,55,0.250);
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
    color : lime;
}
.naIPlog_externalLink {
    margin : 10px;
    margin-left : 50px;
    padding : 5px;
    border-radius : 10px;
    background : rgba(255,0,0,0.250);
    color:gold !important;
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
}

.naIPlog_referrer {
    margin : 20px;
    padding : 5px;
    border-radius : 10px;
    background : rgba(255,0,0,0.250);
    color:gold !important;
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
}
.naIPlog_address {
    margin : 20px;
    padding : 5px;
    border-radius : 10px;
    background : rgba(0,0,55,0.250);
    box-shadow : -2px -2px 3px 1px rgba(255,255,255,0.7), 2px 2px 5px 2px rgba(0,0,0,0.7);
}

.naIPlog_entry.mp3Change_start {
    margin-left : 50px;
    background : rgba(0,255,0,0.555);
    color : white;
}
.naIPlog_entry.mp3Change_ended {
    margin-left : 50px;
    background : rgba(0,100,0,0.555);
    color : yellow;
}
.naIPlog_entry.mp3Change_pausing {
    margin-left : 50px;
    background : rgba(0,50,0,0.555);
    color : yellow;
}
.naIPlog_entry.mp3Change_unpausing {
    margin-left : 50px;
    background : rgba(0,50,0,0.555);
    color : yellow;
}
.naIPlog_entry.mp3Change_onseeked {
    margin-left : 50px;
    background : rgba(0,100,0,0.555);
    color : silver;
}


.naStatus_fullyBooted {
    margin-left : 50px;
    background : rgba(50,0,50,0.555);
    color : white;
}
.naStatus_fullyBooted .naIPlog_stacktrace {
    background : rgba(0,0,0,0.555);
    color : #0FF !important;
    text-shadow : 0px 0px 2px rgba(255,255,255,0.8);
}

.naStatus_backgroundChange {
    margin-left : 50px;
    background : rgba(0,255,0,0.555);
    color : navy;
}
.naStatus_backgroundChange .naIPlog_stacktrace {
    background : rgba(0,0,0,0.555);
    color : #0FF !important;
    text-shadow : 0px 0px 2px rgba(255,255,255,0.8);
}
