        .vividDialog {
            color : white;
            border-radius : 15px;
            border : 2px ridge white;
            box-shadow : inset 0px 0px 3px 3px rgba(255,255,255,0.7), 2px 2px 2px 2px rgba(0,0,0,0.7);
        }
        .vividDialog .vdBackground {
            background : rgba(0,0,0,0.4);
            color : white;
            border-radius : 15px;
        }
        #siteDateTime {
            border : 2px solid rgba(100,100,255,0.7);
            box-shadow : inset 0px 0px 3px 3px rgba(255,255,255,0.7), 2px 2px 2px 2px rgba(0,0,0,0.7);
            color : white;
        }
        #siteYoutubePlayer .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/red/318801228_12f7b6a8a2.jpg") repeat;
            opacity : 0.7;
        }
        #siteYoutubeSearch .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/red/318801228_12f7b6a8a2.jpg") repeat;
            opacity : 0.7;
        }
        #siteComments .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/blue/seamless-texture-blue-watercolor.jpg") repeat;
            opacity : 0.7;
        }
        #siteToolbarRight .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/blue/seamless-texture-blue-watercolor.jpg") repeat;
            opacity : 0.7;
        }
        #siteStatusbar .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/blue/images.jpg") repeat;
            opacity : 0.45;
        }
