        .vividDialog {
            color : white;
        }
        .vividDialog > .vdBackground {
            background : rgba(0,0,0,0.35);
            border-radius : 10px;
        }
        #siteDateTime {
            color : white;
        }
        #siteContent > .vdBackground {
            background : rgba(0,0,0,0.25);
        }
        #siteYoutubePlayer > .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/red/318801228_12f7b6a8a2.jpg") repeat;
            opacity : 0.7;
        }
        #siteYoutubeSearch > .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/red/318801228_12f7b6a8a2.jpg") repeat;
            opacity : 0.7;
        }
        #siteComments > .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/blue/seamless-texture-blue-watercolor.jpg") repeat;
            opacity : 0.7;
        }
        #siteToolbarRight > .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/blue/seamless-texture-blue-watercolor.jpg") repeat;
            opacity : 0.7;
        },
        #siteStatusbar > .vdBackground {
            background : url("/siteMedia/backgrounds/tiled/blue/363806009_0a1edd40dd.jpg") repeat;
            opacity : 0.5;
        }
        #siteStatusbar td {
            text-shadow : 0px 0px 5px rgba(200,255,200,0.7), 0px 0px 3px rgba(0,0,0,0.95), 3px 3px 4px rgba(0,0,0,0.95);
        }
