body {
	padding : 0;
	margin : 0;
	font-family : "Palatino Linotype","Palatino";
}

.vividTheme__menu_006 td {
	color : black;
	font-size : 10px;
}
.vividTheme__menu_006.hover td, .vividTheme__menu_006.hover td a {	color : navy; }

#dialog-explanation, #dialog-content {
	color : white;
	font-size : 10px;
}

a, a:visited {
	color : yellow;
}

a:hover {
	color : lime;
}
#socializethis td {
	vertical-align : middle;
}
#socializethis img {
	border : 0px;
}

#socializethis {
	z-index:10000;
	color : lime;
	font-weight:bold;
	font-size:15px;
	background : black;
	opacity : 0.7;
	position : fixed;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-moz-box-shadow: -3px -3px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: -3px -3px 3px rgba(0,0,0,0.5);
	box-shadow: -3px -3px 3px rgba(0,0,0,0.5);
}

#fancybox-wrap, #fancybox-outer, #fancybox-content {
    z-index: 99999999;
}
	
	
h1.nicerEnterprises_tarot_cardExplanation, h2.nicerEnterprises_tarot_cardExplanation, h3.nicerEnterprises_tarot_cardExplanation {
    display : block;
	font-family : "Architects Daughter";
}
