    .naDiaryWebPage {
        text-shadow : 0px 0px 15px rgba(0,255,0,0.963210), 2px 2px 3px rgba(0,0,0,0.4);
    }
        .naDiaryWebPage > div > p, .naDiaryWebPage > p {
            padding : 10px;
            margin : 20px;
            border-radius : 10px;
            background : rgba(255,255,255,0.4);
            color : black;
            box-shadow:0px 0px 5px 2px rgba(0,0,0,0.7), 3px 3px 6px 1px rgba(0,0,0,0.8);
        }

    .naDiaryDayHeader {
        color : white;
    }

    .naDiaryEntry {
        background : rgba(255,255,255,0.25);
        color : white;
    }
        .naDiaryEntry a {
            color : yellow;
            font-weight : bold;
        }
        .naDiaryEntry a:visited {
            color : #00A;
            font-weight : bold;
        }
        .naDiaryEntry a:hover {
            color : lime;
            font-weight : bold;
        }

    .naDiaryMoodHeader {
        background : rgba(0,0,100,0.321);
        color : white;
    }

    .naDiaryMoodNoteToSelfHeader {
        background : rgba(0,255,120,0.321);
        color : black;
    }

    .naDiaryMoodNotes {
        color : black;
    }
    .naDiaryMoodNotesHeader {
        background : rgba(255,136,30,0.321);
        color : yellow;
    }

    .naDiaryMoodNotesRootkit {
        color : white;
    }
    .naDiaryMoodNotesRootkitHeader {
        background : rgba(0,50,0,0.7);
        color : white;
    }

        .naDiaryMoodAnger .naDiaryEntryHeader {
            background : rgba(255,255,255,0.4);
            color : black;
        }
        .naDiaryMoodAnger {
            background : rgba(255,0,0,0.3);
            border : 3px ridge (50,50,50,0.751);
        }


        .naDiaryMoodShit .naDiaryEntryHeader {
            background : yellow;
            color : brown;
        }
        /* dutch royal orange : rgba(255,100,10,0.8); */
        .naDiaryMoodShit {
            background : rgba(155,50,10,0.8);
            border : 3px ridge brown;
            color : white;
        }



        .naDiaryMoodDivinicus .naDiaryEntryHeader {
            background : rgba(150,150,150,0.5);
            color : black;
        }
        .naDiaryMoodDivinicus {
            background : rgba(255,0,255,0.5);
        }


        .naDiaryMoodDivineWorld .naDiaryEntryHeader {
            background : rgba(150,150,150,0.8);
            color : ivory;
        }
        .naDiaryMoodDivineWorld {
            background : rgba(0, 255, 0,0.35);
        }
