div {
    display : inline-block;
    width : content-width;
}

.naWebOS-debug-outer-DIV {
    margin : 14px;
    padding : 6px;
    border-radius : 10px;
    color : white;
    background : rgba(0,0,255,0.555);
}
.naWebOS-debug-lineRemaining {
    margin : 10px;
    padding : 5px;
    border-radius : 10px;
    color : yellow;
    background : rgba(0,255,0,0.555);
}

.naWebOS-debug-info {
    margin : 10px;
    padding : 5px;
    border-radius : 10px;
    color : white;
    background : blue;
    font-size : 90%;
    font-weight : normal;
    text-shadow : 0px 0px 2px rgba(200, 240, 50);
    box-shadow : 0px 0px 8px 5px rgba(0,0,0,0.4), 3px 3px, 2px, 2px, rgba(0,0,0,0.7);
}

.naWebOS-field-name { color : lime; }
.naWebOS-field-value { color : ivory; }
