html, body {
    width : 100%;
    height : 100%;
    overflow : hidden;
    padding : 0px;
    margin : 0px;
    z-index : -1;
}
h1.appTitle::before {
    content : '';
    white-space : inherit;
}

#wmSettings {
    display : none;
    padding : 10px;
}
.wms_header_form {
    color : lime;
    font-weight : bold;
    font-size : 115%;
}
.wms_label {
    width : 150px;
}
#wmSettings input[type="text"] {
    width : calc(100% - 180px);
}
#wmSettings input[type="number"] {
    width : 70px;
}
.wms_header {
    color : lightgreen;
    font-weight : bold;
}



#wmOuter {
    width : 100%;
    height : 100%;
}

#td_left {
    vertical-align : top;
}

#wmLeft {
    width:95%;
    height:95%;
    vertical-align : top;
    width : 100%;
    padding : 5px;
    border-radius : 7px;
}

#td_right_top {
    width : 90%;
    height : 50%;
    vertical-align:top;
    padding : 5;
}

#td_right_bottom {
    width : 90%;
    height : 50%;
    padding : 5;
}

#siteToolbarLeft .vividDialogContent {
    margin : 0;
    padding : 10px;
}


.mailboxName {
    color : lightgreen;
    text-shadow : 2px 2px 2px rgba(0,0,0,0.5);
}

.mailboxName.selected {
    color : white;
    font-weight : bold;
    text-shadow : 2px 2px 2px rgba(0,0,0,0.5);
}
    
.bgMailboxName {
    background : rgba(0,0,0,0.5);
    border-radius : 5px;
}

#wmMails_header_table {
    width : 100%;
}
th {
    text-align : left;
}

#wmMails_header_table2 {
    color : skyblue;
    text-shadow : 0px 0px 4px rgba(255,255,255,0.5), 4px 4px 2px rgba(0,0,0,0.7);
    font-weight : bold;
    background : rgba(0,0,0,0.5);
    border-radius : 10px;
    box-shadow : inset 1px 1px 2px 2px rgba(0,0,0,0.5);
    border : 1px solid lime;
    margin-top : 5px;
    margin-bottom : 5px;
}
    
    

#wmMails_table {
    width : 100%;
}

#wmMails {
    width : 96%;
    height : 96%;
    overflow : hidden;
    overflow-y : auto;
    background : rgba(0,0,0,0.35);
    padding : 5px;
    padding-right:15px;
}
.mailInfo td {
    font-weight : bold !important;
}
.mailInfo.mailSeen td {
    font-weight : normal !important;
}
.mailInfo td {
    text-shadow : 2px 2px 2px rgba(0,0,0,0.5);
}

.pictogramButton {
    /*position : absolute; doesnt work well in #siteQuickbar*/
    width : 30px;
    height : 30px;
}

.pictogramButton__onoff {
}

.pictogramButton__td {
    width : 46px;
    height : 46px;
    vertical-align : middle;
    text-align : center;
}

.pictogramButton__onoff {
    /*margin:5px; /* keep synced with .pictogramButton__onoffIndicator.siteManager_smallDisplay */
}

.pictogramButton__hoverIndicator {
    /* keep synced with .pictogramButton__onoffIndicator.siteManager_smallDisplay */
    width : 37px;
    height : 37px;
    
    background-image: url('/siteMedia/backgrounds/tiled/orange/467781133_4f4354223e.jpg');
    background-size : 37px 37px;
    background-repeat:repeat;
    opacity:0.58;
    border-radius:8px;
    border:1px solid white;
}

.pictogramButton__onoffIndicator {
    width : 37px;
    height : 37px;


    background-image: url('/siteMedia/backgrounds/tiled/green/dgren051.jpg');
    background-size: 37px 37px; 
    background-repeat:repeat;
    opacity:0.7;
    border-radius:8px;
    border:1px solid white;
}

.totalMsgsInThread {
    text-align:center;
}

.mailInfo {
    color : white;
    z-index : 50;
}

.mailInfo.selected {
    color : lime;
}
.bgMailInfo {
    background : rgba(0,0,0,0.5);
    border-radius : 5px;
}

.bgMailThreadInfo {
    background : rgba(0,255,0,0.7);
    border-radius : 10px;
    z-index : 99;
}
#wmThreadInfo tr.selected {
    color : white; 
}


#wmThreadInfo {
    display : none;
    position : absolute;
    background : rgba(0,0,0,0.8);
    border-radius : 10px;
    padding : 10px;
    z-index : 100;
}
#wmThreadInfo table {
    color : white;
}

#wmWriteMail {
    display:none;
    position:absolute;
}

#tinymce {
    width:100%; 
    height:*;
}

#wmEmail {
    overflow : hidden;
    overflow-y : auto;
    background : rgba(255,255,255,0.55);
    padding : 5px;
}

#wmMails_table_header, #wmWriteMail_header_table {
    color : lime;
}

.btn {
    width : 40px;
    height : 40px;
}

.mailserverName {
    font-weight:bold;
    font-size:1.2rem;
    color : white;
    text-shadow : 2px 2px 2px rgba(0,0,0,0.5);
}

.mailDetails {
    position : absolute;
    padding : 5px;
    border-radius : 5px;
    border : 1px solid black;
    background : rgba(0,0,0,0.7);
    color : white;
}

.naWebMail_sent, .naWebMail_from {
    z-index : 1200;
}
.naWebMail_from, .naWebMail_sent {
    color : lime;
    background : rgba(0,0,0,0.75);
    border : 1px solid white;
    box-shadow : inset 2px 2px 2px 2px rgba(100,100,100,0.7), 2px 2px 2px 2px rgba(0,0,0,0.7);
    border-radius : 10px;
    padding : 8px;
}

.mailFrom_fromAddress_escaped, .mailFrom_toAddress_escaped {
    display : none;
}
