.btn_audio_playPause {
}



.btn_audio_playPause--state-playing {
}

.btn_audio_playPause--state-playing--circumstance-normal {
}




.btn_audio_playPause--state-paused {
}

.btn_audio_playPause--state-paused--circumstance-normal {
}
