domainConfigs.bak/nicer.app/apiKey*
domainConfigs.bak/nicer.app/naLAN.json
domainConfigs.bak/nicer.app/database*
domainConfigs.bak/nicer.app/index.combined.*
domainConfigs.bak/said.by/*
domainConfigs.bak/192.168.178.29/*
3rd-party/jQuery/poshytip/
3rd-party/tinymce-6/apiKey*
3rd-party/tinymce-6.2.0/apiKey*
3rd-party/geoLite2/apiKey.txt
3rd-party/geoLite2/*.mmdb
3rd-party/geoLite2/downloads/*
apps/nicer.app/applications/2D/musicPlayer/music/*
apps/nicer.app/webmail/configs/config.Rene.AJM.Veerman.json
key.youtube.txt
siteMedia/videos
siteMedia/backgrounds/videos
siteMedia/backgrounds/landscape*
siteMedia/backgrounds/portrait*
siteData
siteCache
siteLogs/2023/*
siteLogs/2024/*
siteLogs/2025/*
siteLogs/*.html
siteLogs/*.txt
vividUI
NicerAppWebOS_addons/
3rd-party/3D/libs
RAM_disk
zoned.at/
upgrade_globalsClient_*.sh
do_upgrade_repositoriesFor_*.sh
c.txt
